<div class="footer-spacer"></div>
<footer class="page-footer font-weight-light bg-primary text-light">
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="mailto:lucas.shaffer@appfolio.com?Subject=Your%20site%20is%20awesome!!!" class="text-light"> lucas.shaffer@appfolio.com</a>
  </div>
</footer>
