<div class="d-flex flex-column justify-content-center">
  <h1 class="text-center">Welcome to Image Share!</h1>
  <% if @images.empty? %>
    <h2 class="text-danger text-center">There are no images with that tag.</h2>
  <% end %>

  <% @images.order(created_at: :desc).each do |img| %>
   <%= render 'image', img: img %>
  <% end %>
</div>
